
## For Picotron Experiments:
# Requires Python==3.12
# Add PyTorch's custom CUDA 12.1 index for compatible wheels
--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.5.1
torchvision
torchaudio

triton==3.1.0
flash-attn==2.7.3

datasets==3.2.0
transformers==4.47.0

wandb
huggingface_hub[hf_transfer]

## For NcclMiner:
pulp==3.0.2